@model DataModel.BANGPHANCONGVESINH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BANGPHANCONGVESINH</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaVeSinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaVeSinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NHANVIEN.LoaiNhanVien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NHANVIEN.LoaiNhanVien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CHUONG.LoaiChuong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CHUONG.LoaiChuong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenVeSinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenVeSinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayLam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayLam)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
