@model DataModel.BANGDIEUTRI

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BANGDIEUTRI</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaDieuTri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaDieuTri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BENH.MaThuocDieuTri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BENH.MaThuocDieuTri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NHANVIEN.LoaiNhanVien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NHANVIEN.LoaiNhanVien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DONGVAT.TenDongVat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DONGVAT.TenDongVat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayDieuTri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayDieuTri)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
