@model DataModel.BANGDIEUTRI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>BANGDIEUTRI</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaDieuTri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaDieuTri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BENH.MaThuocDieuTri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BENH.MaThuocDieuTri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NHANVIEN.LoaiNhanVien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NHANVIEN.LoaiNhanVien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DONGVAT.TenDongVat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DONGVAT.TenDongVat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayDieuTri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayDieuTri)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
